.activeTheme {
    background-color: #D9DDE0;
}

.settings {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.settings__item {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.settings__item_button {
    width: 90%;
    height: 40%;
    color: #fff;
    align-content: center;
    border-radius: 5px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#light {
    background-color: lightyellow;
    /*background-image: url("./light.png");*/
}

#light:hover {
    background-color: darkorange;
}

#dark {
    background-color: midnightblue;
    /*background-image: url("./dark.png");*/
}

#dark:hover {
    background-color: darkorange;
}